*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Road Rage', cursive;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-darkGreen: #588c7c;
    --clr-darkGreen-darker: #4F7E6F;
    --clr-yellow: #f2e394;
    --clr-orange: #f2ae72;
    --clr-orange-darker: #D99C66;
    --clr-red: #d96459;
    --clr-red-darker: #c35a50;
    --clr-red-light: #E4928A;
    --clr-dark:#303030;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
    0.125em 0.125em 0.25em rgba(0,0,0, 0.15);

    --bs-dark: 0.25em 0.25em 0.75em var(--clr-darkGreen),
    0.125em 0.125em 0.25em var(--clr-darkGreen);

    --radius: 1rem;
    --radius-small: 0.25rem;

    --transition: all 0.3s linear;
}


@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}
/****************************General Styles*******************************/
html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}
.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-darkGreen);
    color: var(--clr-dark);
    border-radius: var(--radius-small);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}
.btn:hover {
    transform: scale(1.1);
}

/* ************************Typography* ***************************/
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
    margin-bottom: .25rem;
}

section {
    margin: 2em auto;

}
/* ************************Typography finished* ***************************/
header {
    display: flex;
    justify-content: space-between;/* useful at first, but the hamburger is out of doc anyway later*/
    align-items: center;
    position: relative;
    margin: 0 1rem;
    height: 10vh;
}
/******** 1. logo section **********/
.logo-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--ff-primary);
    color: var(--clr-light);
}
.logo {
    font-size: var(--fs-h2);
}
.logo-link {
    color: var(--clr-light);
    text-decoration: none;
}
/******** 2. Hamburger menu **********/
.nav-toggle {
    position: absolute;/*out of doc, later when.open-nav, becomes even fixed*/
    right: 1em;
    top: 1.5em;
    padding: .5em;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000; /*important, otherwise, cannot see it when nav-links show.*/

}
.hamburger {
    display: block;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
    background-color: var(--clr-light);
    width: 4em;
    height: 6px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}
.hamburger::before { top: 12px; }
.hamburger::after { bottom: 12px; }

/******** 3. nav **********/
.nav {
    position: fixed; /*entire nav is out of the doc*/
    background: var(--clr-darkGreen);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav-list {
    list-style: none; /*the bullet points*/
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav-link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none; /*the underline*/
}
.nav-link:hover {
    color: var(--clr-dark);
}

.nav-open .nav {
    transform : translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;/*was absolute. When making it fixed,
    if user click on Gallery, the nav-toggle will not go up to the top of the page.*/
}
.nav-open .hamburger {
    transform: rotate(.625turn);
}
.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-12px);
}
.nav-open .hamburger::after {
    opacity: 0;
}
/***************** Hero Section *************************/
/*logo and hero sections are not with special position, abs or so, they are
just stack on top of each other as the normal HTML flow*/
.hero-section {
    width: 100vw;
    height: 900px;
    position: relative;
    background: url("/img/dark.jpg");
    background-size: cover;
    margin-top: 0;
}
.hero-content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-light);
    text-align: center;
    font-family: var(--ff-primary);

}
.btn-container {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-evenly;

}
.hero-link {
    font-size: var(--fs-body);
    font-weight: var(--fw-bold);
    color: var(--clr-light);
    text-decoration: none;
}
@media (min-width: 800px) {
    .btn-container {
        width: 100%;
    }
    .btn {
      font-size: 1.25rem;
    }
}

/***************** Value Section *************************/

.our-value {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width:90%;
    /*margin: 2em auto;*/
    color: var(--clr-dark);
}
.our-value h2 {
    color: var(--clr-light);
    margin-bottom: 0.5em;
}
.value-img {
    display: none;
}
.value-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}
@media (min-width: 1350px) {
    .value-body {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .value-img {
        display: inline-block;
        width: 35%;
        object-fit: cover;
        border-radius: var(--radius);
        margin-right: 1.5em;

    }
}

.value-text {
    background: var(--clr-light);
    border-radius: var(--radius);
    display: grid;
    grid-template-rows: auto 1fr;
}
.value-btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



.value-btn {
    padding: 1em 0;
    border: none;
    text-transform: capitalize;
    font-size: 1rem;
    display: block;
    background: var(--clr-light);
    cursor: pointer;
    transition: var(--transition);
    letter-spacing: 0.1rem;

}
.value-btn:nth-child(1) {
    border-top-left-radius: var(--radius);
}
.value-btn:nth-child(3) {
    border-top-right-radius: var(--radius);
}

.value-btn:hover:not(.active){
    background: var(--clr-darkGreen);
    color: var(--clr-dark);
}
.value-content-container {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    padding: 2rem 1.5rem;
}
.value-content {
    display: none;
}
.value-content.active {
    display: block;
}
.value-btn.active {
    background: var(--clr-darkGreen);
}

/***************** Review Section *************************/
.review {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.section__title--review {
    margin-bottom: .7em;
}
.review-title {
    position: relative;
    hight: auto;
    flex-wrap: nowrap;
}
.underline {
    width: 160px;
    height: 5px;
    background-color: var(--clr-red);
    position: absolute;
    top: 2.5em;
    left: 50%;
    transform: translateX(-50%);

}
@media (min-width: 800px) {
    .underline {
        top: 4em;
    }
}
.review-img-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
}
.review-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    position: relative;
}
.review-img-container::after {
    font-family: "Font Awesome 5 Free";
    font-weight: var(--fw-bold);
    content: "\f10e";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--clr-red);
    color: var(--clr-light);
    width: 2.5rem;
    height: 2.5rem;
    transform: translateY(25%);
    display: grid;
    place-items: center;
}
.review-img-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--clr-red);
    top: -0.25rem;
    right: -0.5rem;
    border-radius: 50%;
}
.review-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}
.review-job-title {
    color: var(--clr-darkGreen);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
}
.prev-btn,
.next-btn {
    background: transparent;
    color: var(--clr-red);
    border-color: transparent;
    cursor: pointer;
    transition: var(--transition);
    font-size: var(--fs-h3);
}
.prev-btn:hover,
.next-btn:hover{
    transform: scale(1.5);
}
/***************** Modal Section *************************/

/*.modal-section: fixed; .modal: absolute; but if you got a buttn inside the modal that needs
to be abs as well, then use top-down grid and display-item: center. see 15 javascript: modal*/
.modal-section {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--clr-darkGreen);
    z-index:10;
}
.modal-active{
    display: block;

}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1em 2.5em;
    background-color: var(--clr-orange);
    border-radius: var(--radius);
}
@media (min-width: 800px) {
    .modal{
        padding: 1em 5em;
    }
}

.modal-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-close-btn {
    border: transparent;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    font-weight: var(--fw-bold);
    color: var(--clr-dark);
    transition: var(--transition);
}
.modal-close-btn:hover {
    transform: rotate(360deg);
    color: var(--clr-darkGreen);
}
.modal-contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.modal-contact i {
    margin-right: 1em;
}
.modal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1em;
}
@media (min-width: 800px) {
    .modal-content {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }
}
.modal-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

}
.modal-right {
    margin-top: 1em;
    margin-left: 1em;
}
.modal-right button{
    padding: 0.5em 0.75em;
    border-radius: var(--radius);
    font-weight: var(--fw-reg);
    background-color: var(--clr-red);
    color: var(--clr-light);
    font-size: var(--fs-h3);
    border: none;
    cursor: pointer;
    transition: transform 0.1s linear;
}
.modal-right a {
    text-decoration: none;
    letter-spacing: 0.05em;
    color: inherit;
}
.modal-right button:hover {
    transform: scale(1.1);
}

@media (min-width: 800px) {
    .modal-right button {
        padding: 0.75em 1.15em;
    }
}
@media (min-width: 992px) {
    .modal-right button {
        padding: 1.5em 1.75em;
    }
}

/***************** Question Section *************************/

/*See below 1,2,3,4 to make sure when text is added
the container do not get wider.( as before the title is way shorter)*/

/*See below A,B to make sure when text is shown, the text does not
immediately shown below the border, but has a space. The trick here
is to make sure that 1rem which was there originally (when text is not shown)
 is always there. But the reality is when you click the text open, the space
 between the title and the text may not be ideal, therefore we need that padding-bottem
 on the title. but doing so, it could cause double the padding on the question container
 therefore, we only have 3 sided padding on the question container, and add only
 padding bottom to the question-title container.*/

.question-section {
    max-width: 90%;
    padding: 3em 5em;
    background-color: var(--clr-darkGreen);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: var(--radius);
}
.section__title{
    margin-bottom: 2em;
}

.question-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;/*1 Not wider*/
    max-width: 620px;/*2 Not wider*/
}
.question {
    border: none;
    box-shadow: var(--bs);
    border-radius: var(--radius);
    margin-bottom: 3em;
    padding: 1rem 1rem 0em 1rem; /**A.*/
    width: 100%;/*3 Not wider*/
}
.question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;  /**B*/
}
.question-title p {
    margin: 0;
}
.question-text {
    display: none;/*4 Not wider*/
}
.question-btn {
    background-color: transparent;
    border: transparent;
    font-size: var(--fs-h3);
    color: var(--clr-light);
    transition: transform 0.3s linear;
}

.question-btn:hover {
    transform: rotate(90deg);
}
.minus-icon {
    display: none;
}
.show-text .question-text  {
    display: block;
}
.show-text .minus-icon {
    display: block;
}
.show-text .plus-icon {
    display: none;
}

/***************** Gallery Section *************************/
.gallery-section {
    max-width: 90%;
    padding: 3em 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.section__title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.gallery-slide-container {
    position: relative;
    width: 100%;
    border: 5px solid var(--clr-darkGreen);
    max-width: 80rem;
    margin: 0 auto;
    height: 45vh;
    border-radius: var(--radius);
    overflow: hidden;
    object-fit: cover;

}

.gallery-btn-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
}
.gallery-prev-btn,
.gallery-next-btn {
    background: transparent;
    color: var(--clr-red);
    border-color: transparent;
    cursor: pointer;
    transition:var(--transition);
    font-size: var(--fs-h3);
}
.gallery-slide {
    margin-bottom: 1rem;
}
.slide {
    position: absolute;
    width: 100%;/*Don't forget it*/
    height: 100%;/*Don't forget it*/
}
/*.slide:nth-child(1) {*/ /*now they all sitting on top of each other*/
/*    left: 0;*/
/*}*/
/*.slide:nth-child(2) {*/
/*    left: 100%;*/
/*}*/
/*.slide:nth-child(3) {*/
/*    left: 200%;*/
/*}*/
/*.slide:nth-child(4) {*/
/*    left: 300%;*/
/*}*/

/***************** Menu Section *************************/

.menu-section {
    max-width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.menu-title {
    position: relative;
    text-align: center;
    margin-bottom: 3em;
}
.menu-btn-container {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
}
.filter-btn {
    color: var(--clr-light);
    font-size: var(--fs-body);
    background: transparent;
    padding: 0.5em 0.8em;
    border-radius: 10%;
    border: 2px solid var(--clr-yellow);
}
.menu-section-center {
    width: 100%;
    margin: 0 auto; /*^^^^Put the container in the center*/
    display: grid;/*first grid*/
    grid-template-columns: 1fr;
    grid-row-gap: 3em;
    justify-items: center;/*^^^^Put the items inside in the center.*/
}

.menu-item {//*must use second grid! because the layout will change when screen gets bigger!*/
    display: grid;/*second grid*/
    grid-template-columns: 1fr;
    grid-row-gap: 0.5em;
    max-width: 25rem;^/*so that it will not be that big,
    since it is for small screen anyway*/
}
.photo {
    width: 100%;
    height: 225px;
    object-fit: cover;
    border: 5px solid var(--clr-yellow);
    border-radius: var(--radius);

}
.item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px dashed var(--clr-darkGreen);
}
.item-title h4 {
    margin: 0.5em;
}
.item-title p {
    margin: 0;
}
@media (min-width: 800px) {
    .menu-item {
        display: grid;
        grid-template-columns: 225px 1fr;
        grid-column-gap: 1.25em;
        max-width: 40rem;
    }
    .photo {
        height: 175px;
    }

}
@media (min-width: 1200px) {
    .menu-section-center {
        max-width: 75vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3em 2em;
        justify-items: center;
    }
    .photo {
        height: 175px;
    }
}

/***************** Grocery Section *************************/
.grocery-section {
    width: 60vw;
    max-width: 50rem;
    background-color: var(--clr-orange);
    border-radius: var(--radius);
    box-shadow: var(--bs);
    padding: 2rem 3.5rem;
    /*don't define height, as the list gets longer*/
}
.grocery-alert {
    margin-bottom: 1em;
    height: 1.5rem;
    display: grid;/* ^^1 To center things with Grid*/
    align-items: center;/* ^^2 on Y axis*/
    text-align: center;/* ^^3 on X axis*/
    border-radius: 0.25rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
}
.alert-danger {
    color: var(--clr-red);
    background-color: var(--clr-red-light);
}
.alert-success {
    color: var(--clr-darkGreen);
    background-color: var(--clr-light);
}
.grocery-form h3 {
    color: var(--clr-dark);
    margin-bottom: 1.5rem;
    text-align: center;
}
.form-control {/* @@1 this plus #grocery, together, makes the input and the submit
button looks nice and take up the 100% of the space*/
    display: flex;
    justify-content: center;
}

#grocery {
    padding: 0.25rem;
    padding-left: 1rem;
    background-color: hsl(210, 36%, 96%);
    border-top-left-radius: var(--radius-small);
    border-bottom-left-radius: var(--radius-small);
    border-color: transparent;
    font-size: 1rem;
    flex: 1 0 auto;/*@@2 flex items:::it makes it longer, grow but not shrink,
    takes up 100% of the space*/
}
.submit-btn {
    background-color: var(--clr-red);
    border-color: transparent;
    flex: 0 0 5rem;/*@@3 flex items:::do not grow, do not shrink and stay always 5rem*/
    display: grid;
    align-items: center;
    padding: 0.25rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    border-top-right-radius: var(--radius-small);
    border-bottom-right-radius: var(--radius-small);
    cursor: pointer;
    font-size: 0.85rem;
    transition:var(--transition);
}
.submit-btn:hover {
    background-color: var(--clr-red-darker);
    color: var(--clr-light);
}

.grocery-container {
    margin-top: 2rem;
    transition: var(--transition);
    visibility: hidden;
}
.show-container {
    visibility: visible;
}
.grocery-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    transition: var(--transition);
    padding: 0.25rem 1rem;
    border-radius: var(--radius-small);
    text-transform: capitalize;
}
.grocery-item:hover {
    background-color: var(--clr-orange-darker);
    color: var(--clr-dark);
}
.grocery-title {
    letter-spacing: 2px;
}
.edit-btn,
.delete-btn {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    margin: 0 0.15rem;
    transition: var(--transition);
}
.edit-btn {
    color: var(--clr-darkGreen);
}
.edit-btn:hover {
    color: var(--clr-darkGreen-darker);
}
.delete-btn {
    color: var(--clr-red);
}
.delete-btn:hover {
    color: var(--clr-red-darker);
}
.clear-btn {
    text-transform: capitalize;
    width: 10rem;
    height: 1.5rem;
    display: grid;
    align-items: center;
    background-color: transparent;
    border: transparent;
    color: var(--clr-red);
    margin: 0 auto;/*in the middle*/
    font-size: var(--fs-body);
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: var(--transition);
    margin-top: 1.25rem;
}
.clear-btn:hover {
    color: var(--clr-red-darker);
}
/***************** Footer Section *************************/
.footer {
    width: 100vw;
    margin: 0 auto;
}
.footer-wrapper{
    width: 60vw;
    max-width: 65vw;
    margin: 0 auto;
    padding: 2em 0;
}
.footer-title {
    display: grid;
    align-items: center;
    text-align: center;
    margin-bottom: 3em;
}
.footer-title h3 {
    flex: 1 0 auto;
}
.footer-form input,
.footer-form button{
    padding: 0.5rem;
    font-family: var(--ff-primary);
    border-radius: var(--radius-small);

}
.footer-form input {
    border-color: transparent;
    padding-left: 1rem;
}
.footer-form input::placeholder {
    font-weight: var(--fw-bold);
}
.footer-form button {
    border-color: var(--clr-light);
    background-color: var(--clr-dark);
    color: var(--clr-light);
}
.footer-text {
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom i{
    font-size: var(--fs-h3);
}
.footer-bottom p{
    font-size: 0.85rem;
}
.social-icons {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}




.footer-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em 1em;
    text-decoration: none;

}
@media (min-width: 800px) {
    .footer-body {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.footer-item {
    display: flex;
    flex-direction: column;
}
.footer-col {
    list-style: none;
    padding-left: 0;
}
.footer-item h3:hover,
.footer-item li:hover {
    color:var(--clr-darkGreen);
}
.footer-col li {
    font-weight: var(--fw-reg);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}